.container{
    width: fit-content;
    position: relative;
    --font-size: 4rem;
}

.underline{
    position: absolute;
    top: calc(var(--font-size) * 1.1);
    height: 3px;
    width: 100%;
    stroke: var(--blue);
}

.title{
    font-size: var(--font-size);
    font-family: 'Lobster', cursive;
}