.container{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    --font-size: 4rem;
    padding: 2rem 0;
}

.underline{
    position: absolute;
    top: calc(var(--font-size) * 1.1 + 2rem);
    height: 3px;
    width: 100%;
    stroke: var(--blue);
}

.title{
    font-size: var(--font-size);
    font-family: 'Lobster', cursive;
    margin: 0;
}